// used to be color scheme: http://colorhunt.co/c/3460
// color scheme: http://colorhunt.co/c/9148

$dominant-color: #f33535;
$secondary-color: #33425b;
$active-color: #44536c;
$background-color: #d8e9f0;
$text-color: #29252C;
