@import 'colors';
@import 'controls';

@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
  color: $text-color;
  background-color: $background-color;
  font-family: 'Arimo', sans-serif;
}

a {
	cursor: pointer;
}
